// Colors
$TYPG-white: #F0F0F0;
$TYPG-dwhite: #E0E0E0;
$TYPG-black: #222222;
$TYPG-gray: #B6B6B6;
$TYPG-lgray: #DDDDDD;
$TYPG-red: #F44336;
$TYPG-blue: #2196F3;
$TYPG-dblue: #303F9F;
$TYPG-green: #4CAF50;
$TYPG-cyan: #00BCD4;
$TYPG-lgreen: #8BC34A;
$TYPG-dgreen: #388E3C;
